body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
}

#hero {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  height: 100vh;
  text-align: center;
}

.hero-container {
  animation: fadeIn 2s ease-in;
}

.hero-container h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  animation: slideInFromLeft 1s ease-out;
}

.hero-container p {
  font-size: 1.5em;
  animation: slideInFromRight 1.5s ease-out;
}

.typed {
  font-weight: bold;
  color: #ffeb3b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}
.custom-circle {
  width: 150px; /* Justera storleken som passar */
  height: 150px; /* Samma som bredden för att göra den rund */
  object-fit: cover; /* För att säkerställa att bilden fyller ut hela cirkeln */
  border-radius: 50%; /* Gör bilden rund */
}

#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  bottom: 50px;

}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu button i:hover,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}
.nav-link.active {
  color: #007bff; /* Ljusblå färg */
}
.btn-primary {
  margin-left: -5px;
  background-color: #6f7180;
  color: #6f7180;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: none;
}

.btn-primary:hover {
  background: none;
}

.btn-primary i {
  margin-right: 5px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/backgroundportfolio.avif") top center;
  background-size: cover;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  display: inline-block;
  animation: slideIn 2s ease-out;
}

.hero-container h1 {
  margin-top: 20px;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-right: 60px;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.content h3 {
  font-size: 2rem; /* Ökar storleken på h3-elementet */
}

.content p {
  font-size: 1.25rem; /* Ökar storleken på p-elementen */
}

.content ul li {
  font-size: 1.25rem; /* Ökar storleken på li-elementen */
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background: linear-gradient(45deg, #212431, #212529);
  color: white;
  padding: 40px 0;
  position: relative;
  margin-top: auto;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

footer h5 {
  color: #ffc107;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

footer .nav-link {
  color: white;
  margin: 5px 0;
  transition: color 0.3s, transform 0.3s;
}

footer .nav-link:hover {
  color: #ffc107;
  transform: translateY(-5px);
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-social-icons h5 {
  margin-bottom: 10px;
  margin-top: -20px;
}

.footer-social-icons .social-links {
  display: flex;
  justify-content: center;
}

.footer-social-icons a {
  margin: 5px 10px;
  color: white;
  background: none;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: none;
}

.footer-social-icons a:hover {
  color: #ffc107;
  transform: scale(1.1);
}

footer p {
  margin: 20px 0 0;
  text-align: center;
}

.footer-bottom {
  background: linear-gradient(45deg, #212431, #212529);
  color: #bbb;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  width: 100%;
}

.projects {
  padding: 60px 0;
}

.projects .portfolio-item {
  margin-bottom: 30px;
}

.projects .portfolio-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.projects .portfolio-wrap img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.projects .portfolio-wrap .portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  text-align: center;
  transition: all 0.3s;
  opacity: 0;
}

.projects .portfolio-wrap:hover img {
  transform: scale(1.1);
}

.projects .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.projects .portfolio-info h4 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 5px;
}

.projects .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.projects .portfolio-links a {
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
  display: inline-block;
  transition: color 0.3s;
}

.projects .portfolio-links a:hover {
  color: #fed136;
}



.reference {
  background: #fff;
  padding: 20px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.reference h3 {
  margin-top: 0;
  color: #007bff;
}

.reference p {
  margin: 5px 0;
}

.reference .contact-info {
  font-style: italic;
  color: #555;
}
.language-switcher {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  padding-bottom: 30px;
}

.lang-button {
  border: none;
  padding: 8px 16px; /* Justera padding för att göra knapparna lite större */
  margin: 0 5px;
  border-radius: 20px; /* Göra knapparna runda */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* Gör texten fet */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Svenska knappen */
.lang-button.sv {
  background-color: #005bbf; /* Blå färg */
  color: #f0db4f; /* Gul färg */
}

.lang-button.sv:hover {
  background-color: #f0db4f; /* Gul färg */
  color: #005bbf; /* Blå färg */
}

/* Engelska knappen */
.lang-button.en {
  background-color: #ffffff; /* Vit färg */
  color: #ff0000; /* Röd färg */
}

.lang-button.en:hover {
  background-color: #ff0000; 
  color: #ffffff; /* Vit färg */
}
